@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

main {
  height: 100vh;
  background-color: var(--violet);
  background-image: url("../images/bg-desktop.svg");
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nav {
  margin-left: 3em;
}
.mid-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text {
  width: 65em;
  padding: 0 4em;
}

.text h1 {
  font-size: 4.7em;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
  margin-bottom: 0.3em;
}
.text p {
  font-size: 1.8em;
  margin-bottom: 2em;
}
.text a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--violet);
  background-color: white;
  margin-top: 2em;
  padding: 1em 4em;
  border-radius: 3em;
}
.icon {
  display: flex;
  justify-content: end;
  margin-right: 10em;
}
.icon i {
  font-size: 2.5em;
}
.me {
  margin-right: 1em;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: whitesmoke;
}
.attribution a {
  color: white;
}

footer {
  display: block;
  margin: none;
}

@media screen and (max-width: 500px) {
  body {
    background-color: wheat;
  }
  main {
    display: flex;
    /* height: auto; */
    background-color: var(--violet);
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    justify-content: space-between;
  }
  .nav {
    margin-left: 2em;
    margin-top: 2em;
  }
  .nav img {
    width: 40%;
  }

  .mid-section {
    display: block;
    margin: auto;
    text-align: center;
  }
  .mid-section img {
    width: 70%;
    margin: 2em 0;
  }
  .text {
    width: auto;
    padding: 0 4em;
  }

  .text h1 {
    font-size: 1.4em;
    font-family: "Poppins", sans-serif;
    line-height: 1.3;
    margin-bottom: 0.5em;
  }
  .text p {
    font-size: 0.8em;
    font-weight: 100;
    line-height: 1.6;
    margin-bottom: 2em;
  }
  .text a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--violet);
    background-color: white;
    font-size: 0.6em;
    margin-top: 2em;
    padding: 1em 6em;
    border-radius: 3em;
  }
  .icon {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .icon i {
    font-size: 1.3em;
  }
}
